<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page - {{ config['MAIN_TITLE'] }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='lib/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="screen"  />
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/admin.css') }}" type="text/css" media="screen"  />
</head>
<body>
 
    <div class="container">
        <div class="text-center">
            <img src="{{ url_for('admin.static', filename='img/logo.png') }}" alt="Metis Logo">
        </div>
        <div class="tab-content">
            <div id="login" class="tab-pane active">
                <form action="" class="form-signin" method="post">
                    <p class="text-muted text-center">
                        Enter your username and password
                    </p>
                    <input type="text" name="username" placeholder="Username" class="form-control">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>

    </div> <!-- /container -->
    
    <script type="text/javascript" src="{{ url_for('admin.static', filename='lib/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

</body>
</html>