{% extends "frontend/themes/default/base.html" %}
{% block title %}{{ diary.title }}{% endblock %}
{% block content %}
    <article class="post">
        <header class="entry-header">
            <h1 class="entry-title">{{ self.title() }}</h1>
            <div class="comments-link">
                <a href="{{ url_for('frontend.diary_detail', diary_id=diary.pk, diary_title=diary.title) }}" title="Comment on {{ diary.title }}">{{ diary.comments|count }} Replies</a>
            </div><!-- .comments-link -->
        </header><!-- .entry-header -->

        <div class="entry-content">
            {{ diary.html|safe }}
        </div><!-- .entry-content -->

        <footer class="entry-meta">
            This entry was posted in
            <a href="#" title="View all posts in {{ diary.category }}" rel="category tag">{{ diary.category }}</a>
            On
            <a href="{{ url_for('frontend.diary_detail', diary_id=diary.pk, diary_title=diary.title) }}" title="{{ diary.publish_time.strftime('%Y-%m-%d %H:%M') }}" rel="bookmark">
                <time class="entry-date" datetime="{{ diary.publish_time }}">{{ diary.publish_time.strftime('%Y-%m-%d %H:%M') }}</time>
            </a>
            <span class="by-author">By
                <span class="author vcard">
                    <a class="url fn n" rel="author">{{ diary.author.name }}</a>
                </span>。
            </span>
            <span class="edit-link"><a class="post-edit-link" href="#">Edit</a></span>
        </footer><!-- .entry-meta -->
    </article><!-- #post -->

    <nav class="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        {% if prev %}
        <span class="nav-previous"><a href="{{ url_for('frontend.diary_prev_or_next', prev_or_next='prev', diary_id=diary.pk) }}" rel="prev"><span class="meta-nav">←</span>Previous</a></span>
        {% endif %}
        {% if next %}
        <span class="nav-next"><a href="{{ url_for('frontend.diary_prev_or_next', prev_or_next='next', diary_id=diary.pk) }}" rel="next">Next<span class="meta-nav">→</span></a></span>
        {% endif %}
    </nav><!-- .nav-single -->

    <div id="comments" class="comments-area">
        <h2 class="comments-title">
           {{ diary.comments|count }} thoughts on "<span>{{ self.title() }}</span>"
        </h2>

        <ol class="commentlist">
            {% for c in diary.comments %}
            <li class="comment">
                <article class="comment">
                    <header class="comment-meta comment-author vcard">
                        <!--<img alt="" src="" class="avatar avatar-44 photo avatar-default" height="44" width="44">-->
                        <cite><b class="fn"><a rel="external nofollow" class="url">{{ c.author }}</a></b> </cite>
                        <a><time datetime="{{ diary.publish_time }}">{{ diary.publish_time.strftime('%Y-%m-%d %H:%M') }}</time></a>
                    </header><!-- .comment-meta -->

                    <section class="comment-content comment">
                        <p>{{ c.content }}</p>
                        <p class="edit-link">
                            <a class="comment-edit-link" href="">Edit</a>
                        </p>
                    </section><!-- .comment-content -->

                    <div class="reply">
                        <a class="comment-reply-link" href="">Reply</a> <span>↓</span>
                    </div><!-- .reply -->
                </article><!-- #comment-## -->
            </li><!-- #comment-## -->
            {% endfor %}
        </ol><!-- .commentlist -->

        {% include "frontend/themes/default/element/reply_form.html" %}

    </div><!-- #comments .comments-area -->

{% endblock %}
