<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}{% endblock %} - {{ config['MAIN_TITLE'] }}</title>
  <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&amp;subset=latin,latin-ext" type="text/css" media="all"> -->
  <link rel="stylesheet" href="{{ url_for('frontend.static', filename='themes/default/css/default.css') }}" type="text/css" media="all">
</head>

<body class="home blog logged-in custom-font-enabled single-author">
  <div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
      <hgroup>
        <h1 class="site-title"><a href="/" title="{{ config['MAIN_TITLE'] }}" rel="home">{{ config['MAIN_TITLE'] }}</a></h1>
        <h2 class="site-description">{{ profile.signature }}</h2>
      </hgroup>
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <h3 class="menu-toggle">菜单</h3>
        <a class="assistive-text" href="#content" title="跳至内容">跳至内容</a>
        <div class="nav-menu">
          <ul>
            <li class="current_page_item"><a href="/">首页</a></li>
            {% for p in pages %}
            <li class="page_item"><a href="{{ url_for('frontend.page', page_url=p.url) }}">{{ p.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </nav><!-- #site-navigation -->
    </header><!-- #masthead -->

    <div id="main" class="wrapper">
      <div id="primary" class="site-content">
        <div id="content" role="main">
          {% block content %}{% endblock %}
        </div><!-- #content -->
      </div><!-- #primary -->


      <div id="secondary" class="widget-area" role="complementary">
        {% include 'frontend/themes/default/element/sidebar.html' %}
      </div><!-- #secondary -->
    </div><!-- #main .wrapper -->

    <footer id="colophon" role="contentinfo">
      <div class="site-info">
        <a href="https://github.com/ScenK/Dev_Blog2" title="Dev_blog2">Powered by Dev_blog2</a>
      </div><!-- .site-info -->
    </footer><!-- #colophon -->

  </div><!-- #page -->

</body>
</html>
