<div id="left">
  <div class="media user-media">
    <a class="user-link" href="">
      <img class="media-object img-thumbnail user-img" alt="User Picture" src="{{ profile.avatar }}">
    </a> 
  </div>

  <!-- #menu -->
  <ul id="menu" class="collapse">
    <li class="nav-header">Menu</li>
    <li class="nav-divider"></li>
    <li class="">
      <a href="{{ url_for('admin.index') }}">
        <i class="fa fa-dashboard"></i>
        <span class="link-title">Dashboard</span> 
        <span class="fa arrow"></span> 
      </a> 
    </li>
    <li class="">
      <a href="javascript:;">
        <i class="fa fa-tasks"></i>&nbsp;Posts
        <span class="fa arrow"></span> 
      </a> 
      <ul class="collapse">
        <li class="">
          <a href="{{ url_for('admin.diary_list') }}">
            <i class="fa fa-credit-card"></i>&nbsp;All Posts</a> 
        </li>
        <li class="">
          <a href="">
            <i class="fa fa-angle-right"></i>&nbsp;Add New</a> 
        </li>
      </ul>
    </li>
  </ul><!-- /#menu -->
</div>